/*body {
	margin:0;
	padding:0;
  color: white;
  font-family: Ariel;
  width:100%;
  height: 1000px;
}*/

.head {
	position: fixed;
	width: 100%;
	height: 50px;
	border-bottom: 1px solid;
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);

}

 h1 {
float: left;

}

.upload1 {
	float: right;
	height: 45px;
	width: 350px;
	margin-bottom: 10px;
	overflow: hidden;
}

.display {
	padding-top: 40px;
	height: 480px;
	text-align: center;
}

.buttons {
	position: fixed;
	padding-top: 10px;
	height: 62px;
	width: 100%;
	background-color: #2a2d2c;
	text-align: center;
	opacity: 1.2;
}

.play {
	background: url("play.png");
}
.display-song {
	margin-left: 190px;
	margin-top: 20px;
	height: 100px;
	line-height: 50px;
	width: 60%;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12),
	            0 1px 4px rgba(0, 0, 0, 0.24);
	cursor: pointer;
	transition: transform 100ms ease;
	animation: song-slide-in 300ms ease 1;

}
.display-song:hover {
	transform: scale(1.1);
	background: grey;
}
.display-song-artist {
	float: left;
}
.display-song-title {
	float: left;
	margin-right: 60px;
	margin-left: 10px;
}
.display-song-artist{
	display: inline-block;
	vertical-align: top;
}
.soundcloud-image {
	width: 40px;
	height: 50px;
	float: right;
}
